# URL publique de l’API AdonisJS. Ne placez jamais de secret de paiement dans le frontend.
# NEXT_PUBLIC_API_URL=http://localhost:3333
NEXT_PUBLIC_API_URL=https://floralwhite-chimpanzee-459944.hostingersite.com